unique-names-generator>=1.0.2
numpy>=1.22
pydantic>=2.4.0
PyYAML>=6.0
mlflow>=2.0.1
fsspec>=2023.9.2
# s3fs # if using S3 filesystem
# gcsfs # if using GCS filesystem
# wandb # if using wandb logging
# torch>=2.0.1 # if using tensorboard logging