pydantic>=2.4.0
pydantic-settings>=2.1.0
PyYAML>=6.0
fsspec>=2023.1.0
rich>=13.6.0
# The following packages are installed dynamically when required
# s3fs>=2023.1.0
# gcsfs>=2023.1.0
# mlflow>=2.10.0
