name: Update Coverage Report

on:
  push:
    branches: [main]

jobs:
  update-base-report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Download artifacts
        uses: dawidd6/action-download-artifact@v7
        with:
          name: coverage
          path: coverage.xml
          workflow: ci.yaml

      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
